{% extends "!layout.html" %}

{% block extrahead %}
    {# Get Roboto font from Google #}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    {% if pagename == "index" %}
        <link rel="stylesheet" type="text/css" href="_static/css/index.css">
    {% endif %}
{% endblock %}

{% block content %}
    {% if pagename == "index" %}
        {% include "index.html" %}
    {% endif %}
    
    {{ super() }}
{% endblock %}

{% block footer %}
    <footer class="container">
        <div class="flex justify-center">
            <ul>
                <li><a href="https://www.mantidproject.org/MantidProject_Privacy_policy.html">Privacy Policy</a></li>
            </ul>
        </div>
    </footer>
{% endblock %}
