{% extends "!layout.html" %}

{% block extrahead %}
    {# Get Roboto font from Google #}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    {% if pagename == "index" %}
        <link rel="stylesheet" type="text/css" href="_static/css/index.css">
    {% endif %}
{% endblock %}

{% block content %}
    {% if pagename == "index" %}
        <div class="container">
            <div id="title-banner" class="row flex items-center">
                <div class="col-sm-4 hidden-xs text-center">
                    <img src="{{ pathto('_static/mantid.png', 1) }}">
                </div>
                <div class="col-sm-8">
                    <h1>Mantid - High performance 
                        data reduction and visualisation </h1>
                    <p>Created to manipulate and analyse neutron scattering 
                        and muon spectroscopy data, as well as many other techniques. 
                        Open source and supported on a variety of platforms.</p>
                    <button class="green">Get Started</button>
                    <button>User Docs</button>
                </div>
            </div>
        </div> 
    {% endif %}
    {{ super() }}
{% endblock %}
